{% extends "base.html" %}

{% block title %}Category Results - Stickerdom{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div
        class="alert alert-{{ 'success' if category=='success' else 'danger' if category=='error' else 'info' }} fade show text-center"
        role="alert">
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Searched Category: "{{ category }}"</h1>
<p>Your sticker shop is ready 🚀</p>

    {% if category_results %}
        <div class="row g-4">
            {% for sticker in category_results %}
                <div class="col-md-4">
                    <div class="card shadow-sm h-100">
                    <img src="{{url_for('static', filename='images/stickers/' ~ sticker.image_path)}}"
                    class="card-img-top" alt="{{sticker.name}}" style="height:350px; object-fit:scale-down;">

                    <div class="card-body">
                        <h5 class="card-title">{{sticker.name}}</h5>
                        <p class="card-text">€{{sticker.price}}</p>

                        <form action="/add_to_cart" method="POST">
                            <input type="hidden" name="sticker_id" value="{{ sticker.id }}">
                            <button type="submit" class="btn btn-primary w-100">
                                Add to cart
                            </button>
                        </form>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">No stickers found matching your search.</p>
    {% endif %}
{% endblock %}
