{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Custom Sticker Requests</h1>

    <div class="row">
        {% for custom_sticker in requests %}
        
        <div class="col-md-4 mb-4 mt-4">
            <div class="card shadow-sm h-100">
                
                <img src="{{ url_for('static', filename='images/custom/' ~ custom_sticker.image_path) }}" 
                     class="card-img-top p-3" 
                     style="height: 250px; object-fit: contain;">

                <div class="card-body">
                    <h5 class="card-title">{{ custom_sticker.name }}</h5>
                    
                    <p class="mb-1"><strong>User ID:</strong> {{ custom_sticker.user_id }}</p>
                    <p class="mb-1"><strong>Approval Status:</strong> {{ custom_sticker.approval_status }}</p>
                    <p class="mb-1"><strong>Dashboard Request:</strong> {{ custom_sticker.request_approval }}</p>
                    <p class="text-muted small">Submitted on: {{ custom_sticker.created_at.strftime('%Y-%m-%d') }}</p>
                </div>

            </div>
        </div>

        {% else %}
        <p>No suggestions found.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}